// Fonts

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

// Variables
@import 'variables';

$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

#file-input{
    display: none;
}
.reply{
    cursor: pointer;
}

.in-setting{
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #4c4848;
}

.in-setting1{
    padding: 10px;
    text-align: center;
}

.content{
    border-radius: 5%;
}

